
.sideBar{
    background-color: white;
    position: fixed;
    width: 77px;
    left: 0;
    top: 55px;
    bottom: 0;
    z-index: 200;
    padding-top: 5px ;

}


.sideBarLink{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sideBarLink div{
    font-size: 10px;
}

.sideBarLink:hover{
    background-color: rgb(237, 237, 237);
}

.sideBarLink img{
    height: 25px;
    margin-bottom: 4px;


}